# 프로젝트 제외 경로
/target/### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Maven Central deployment settings (contains credentials)
settings.xml
settings-local.xml

/.claude/settings.local.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/GhostTextManager_v2.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/PMDPlugin.xml
/.idea/SweepConfig.xml
/.idea/vcs.xml
/target/antrun/build-main.xml
/target/classes/META-INF/LICENSE
/target/classes/META-INF/NOTICE
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/io.github.takoeats.excelannotator.AnnotationCombinationTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.BusinessScenarioIntegrationTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ColumnWidthCalculatorDetailTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ConcurrencyTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.DataTypeComprehensiveTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ErrorHandlingComprehensiveTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ExcelDataProviderPatternTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ExcelExporterTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ExcelMetadataFactoryTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.ExcelWriterTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.FilenameSecurityTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.HttpServletResponseIntegrationTest.txt
/target/surefire-reports/internal.io.github.takoeats.excelannotator.ExcelMetadataCacheTest.txt
/target/surefire-reports/metadata.internal.io.github.takoeats.excelannotator.ColumnInfoTest.txt
/target/surefire-reports/metadata.internal.io.github.takoeats.excelannotator.ExcelMetadataTest.txt
/target/surefire-reports/extractor.metadata.internal.io.github.takoeats.excelannotator.ColumnInfoExtractorTest.txt
/target/surefire-reports/extractor.metadata.internal.io.github.takoeats.excelannotator.FieldTypeClassifierTest.txt
/target/surefire-reports/extractor.metadata.internal.io.github.takoeats.excelannotator.FieldValueExtractorFactoryTest.txt
/target/surefire-reports/extractor.metadata.internal.io.github.takoeats.excelannotator.SheetInfoExtractorTest.txt
/target/surefire-reports/metadata.internal.io.github.takoeats.excelannotator.MetadataAssemblerTest.txt
/target/surefire-reports/metadata.internal.io.github.takoeats.excelannotator.MultiSheetMetadataBuilderTest.txt
/target/surefire-reports/metadata.internal.io.github.takoeats.excelannotator.SheetInfoTest.txt
/target/surefire-reports/style.metadata.internal.io.github.takoeats.excelannotator.ColumnStyleResolverTest.txt
/target/surefire-reports/style.metadata.internal.io.github.takoeats.excelannotator.ConditionalStyleParserTest.txt
/target/surefire-reports/util.internal.io.github.takoeats.excelannotator.FilenameSecurityValidatorTest.txt
/target/surefire-reports/adapter.writer.internal.io.github.takoeats.excelannotator.DataStreamAdapterTest.txt
/target/surefire-reports/builder.writer.internal.io.github.takoeats.excelannotator.SheetRequestBuilderTest.txt
/target/surefire-reports/writer.internal.io.github.takoeats.excelannotator.CellWriterTest.txt
/target/surefire-reports/organizer.writer.internal.io.github.takoeats.excelannotator.SheetDataOrganizerTest.txt
/target/surefire-reports/writer.internal.io.github.takoeats.excelannotator.RowWriterTest.txt
/target/surefire-reports/writer.internal.io.github.takoeats.excelannotator.SheetWriterTest.txt
/target/surefire-reports/writer.internal.io.github.takoeats.excelannotator.StyleCacheManagerTest.txt
/target/surefire-reports/validation.writer.internal.io.github.takoeats.excelannotator.ExcelDataValidatorTest.txt
/target/surefire-reports/workbook.writer.internal.io.github.takoeats.excelannotator.SXSSFWorkbookBuilderTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.MultiSheetEdgeCaseTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.PreDefinedStylesTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.RgbColorHelperTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.SheetOrderTest$ListApiSheetOrderTests.txt
/target/surefire-reports/io.github.takoeats.excelannotator.SheetOrderTest$SheetInfoTests.txt
/target/surefire-reports/io.github.takoeats.excelannotator.SheetOrderTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.SheetWriteRequestTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.StreamAPIEdgeCaseTest.txt
/target/surefire-reports/style.io.github.takoeats.excelannotator.ConditionalStyleExtendedTest.txt
/target/surefire-reports/style.io.github.takoeats.excelannotator.ConditionalStyleTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.CellContextTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.ConditionEvaluatorTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.ExpressionConditionTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.ExpressionParserTest.txt
/target/surefire-reports/node.rule.style.io.github.takoeats.excelannotator.BinaryOpNodeTest.txt
/target/surefire-reports/node.rule.style.io.github.takoeats.excelannotator.LeafNodeTest.txt
/target/surefire-reports/node.rule.style.io.github.takoeats.excelannotator.UnaryOpNodeTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.StyleConditionTest.txt
/target/surefire-reports/rule.style.io.github.takoeats.excelannotator.StyleRuleTest.txt
/target/surefire-reports/style.io.github.takoeats.excelannotator.StyleCacheTest.txt
/target/surefire-reports/io.github.takoeats.excelannotator.Style64KLimitTest.txt
/target/surefire-reports/util.io.github.takoeats.excelannotator.CellValueConverterTest.txt
/target/surefire-reports/util.io.github.takoeats.excelannotator.ColumnWidthCalculatorTest.txt
/target/surefire-reports/util.io.github.takoeats.excelannotator.SheetNameValidatorTest.txt
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.AnnotationCombinationTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.BusinessScenarioIntegrationTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ColumnWidthCalculatorDetailTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ConcurrencyTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.DataTypeComprehensiveTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ErrorHandlingComprehensiveTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ExcelDataProviderPatternTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ExcelExporterTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ExcelMetadataFactoryTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.ExcelWriterTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.FilenameSecurityTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.HttpServletResponseIntegrationTest.xml
/target/surefire-reports/TEST-internal.io.github.takoeats.excelannotator.ExcelMetadataCacheTest.xml
/target/surefire-reports/TEST-metadata.internal.io.github.takoeats.excelannotator.ColumnInfoTest.xml
/target/surefire-reports/TEST-metadata.internal.io.github.takoeats.excelannotator.ExcelMetadataTest.xml
/target/surefire-reports/TEST-extractor.metadata.internal.io.github.takoeats.excelannotator.ColumnInfoExtractorTest.xml
/target/surefire-reports/TEST-extractor.metadata.internal.io.github.takoeats.excelannotator.FieldTypeClassifierTest.xml
/target/surefire-reports/TEST-extractor.metadata.internal.io.github.takoeats.excelannotator.FieldValueExtractorFactoryTest.xml
/target/surefire-reports/TEST-extractor.metadata.internal.io.github.takoeats.excelannotator.SheetInfoExtractorTest.xml
/target/surefire-reports/TEST-metadata.internal.io.github.takoeats.excelannotator.MetadataAssemblerTest.xml
/target/surefire-reports/TEST-metadata.internal.io.github.takoeats.excelannotator.MultiSheetMetadataBuilderTest.xml
/target/surefire-reports/TEST-metadata.internal.io.github.takoeats.excelannotator.SheetInfoTest.xml
/target/surefire-reports/TEST-style.metadata.internal.io.github.takoeats.excelannotator.ColumnStyleResolverTest.xml
/target/surefire-reports/TEST-style.metadata.internal.io.github.takoeats.excelannotator.ConditionalStyleParserTest.xml
/target/surefire-reports/TEST-util.internal.io.github.takoeats.excelannotator.FilenameSecurityValidatorTest.xml
/target/surefire-reports/TEST-adapter.writer.internal.io.github.takoeats.excelannotator.DataStreamAdapterTest.xml
/target/surefire-reports/TEST-builder.writer.internal.io.github.takoeats.excelannotator.SheetRequestBuilderTest.xml
/target/surefire-reports/TEST-writer.internal.io.github.takoeats.excelannotator.CellWriterTest.xml
/target/surefire-reports/TEST-organizer.writer.internal.io.github.takoeats.excelannotator.SheetDataOrganizerTest.xml
/target/surefire-reports/TEST-writer.internal.io.github.takoeats.excelannotator.RowWriterTest.xml
/target/surefire-reports/TEST-writer.internal.io.github.takoeats.excelannotator.SheetWriterTest.xml
/target/surefire-reports/TEST-writer.internal.io.github.takoeats.excelannotator.StyleCacheManagerTest.xml
/target/surefire-reports/TEST-validation.writer.internal.io.github.takoeats.excelannotator.ExcelDataValidatorTest.xml
/target/surefire-reports/TEST-workbook.writer.internal.io.github.takoeats.excelannotator.SXSSFWorkbookBuilderTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.MultiSheetEdgeCaseTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.PreDefinedStylesTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.RgbColorHelperTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.SheetOrderTest$ListApiSheetOrderTests.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.SheetOrderTest$SheetInfoTests.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.SheetOrderTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.SheetWriteRequestTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.StreamAPIEdgeCaseTest.xml
/target/surefire-reports/TEST-style.io.github.takoeats.excelannotator.ConditionalStyleExtendedTest.xml
/target/surefire-reports/TEST-style.io.github.takoeats.excelannotator.ConditionalStyleTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.CellContextTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.ConditionEvaluatorTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.ExpressionConditionTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.ExpressionParserTest.xml
/target/surefire-reports/TEST-node.rule.style.io.github.takoeats.excelannotator.BinaryOpNodeTest.xml
/target/surefire-reports/TEST-node.rule.style.io.github.takoeats.excelannotator.LeafNodeTest.xml
/target/surefire-reports/TEST-node.rule.style.io.github.takoeats.excelannotator.UnaryOpNodeTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.StyleConditionTest.xml
/target/surefire-reports/TEST-rule.style.io.github.takoeats.excelannotator.StyleRuleTest.xml
/target/surefire-reports/TEST-style.io.github.takoeats.excelannotator.StyleCacheTest.xml
/target/surefire-reports/TEST-io.github.takoeats.excelannotator.Style64KLimitTest.xml
/target/surefire-reports/TEST-util.io.github.takoeats.excelannotator.CellValueConverterTest.xml
/target/surefire-reports/TEST-util.io.github.takoeats.excelannotator.ColumnWidthCalculatorTest.xml
/target/surefire-reports/TEST-util.io.github.takoeats.excelannotator.SheetNameValidatorTest.xml
/.classpath
/.project
/CLAUDE.md
/DEPLOYMENT.md
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
